header{
    height: 110px;
    width: 100% ;
    background-color:white ;
}

.logo{
   background:url(images/logo1.png) no-repeat;
    height: 20px;
    width: 40px;
    margin-left: 20px;
    position: relative;

}


body{
  /*background-attachment:fixed;*/
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.contenant {
    background:url(images/photo.png);
    position: relative;
    text-align: center;
    height: 600px;
}
h1{
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
.h4a{
    position: absolute;
    top: 40%;
    left: 31%;
    color: white;
}


.button1{ 
    width: 200px;
    background-color: brown;    
     position: absolute; 
     height: 30px;
     top: 60%; 
     margin-right: 50px;
     
}
.p1{
    top: 65%;
    position: absolute;
    left: 30%;
    color: white;
}
.button2{
    height: 120px;
    width: 100%;
    background-color: brown;
    
}
.button3{
    height: 5px;
    width: 100px;
    background-color: red;
}
.h4b{
    color: brown;
   position: absolute;
   left: 130px;
   border-top: 2px;
   text-decoration-line: underline;
   text-decoration-style : dotted
}
.p2{
    position: absolute;
    left: 135px;
    top: 130%;
    text-decoration-line: underline;
   text-decoration-style : dotted
}
.p3{
    position: absolute;
    left: 135px;
    top: 135%;
    font-size: 12px;
}
#cercle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: wheat;
    left: 60%;
    position: absolute;
    top: 127%;
}
.h4c{
    position: absolute;
    color: brown;
    left: 65%;
}
.p4{
    position: absolute;
    left: 65%;
    top: 129%;
    font-size: 12px;
}
#cercle2{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: wheat;
    left: 60%;
    position: absolute;
    top: 140%;
}
.h4d{
    position: absolute;
    color: brown;
    left: 65%;
    top: 137%;
}
.p5{
    position: absolute;
    left: 65%;
    top: 142%;
    font-size: 12px;
}
#cercle3{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: wheat;
    left: 60%;
    position: absolute;
    top:152% ;
}
.h4e{
    position: absolute;
    color: brown;
    left: 65%;
    top: 150%;
}
.p6{
    position: absolute;
    left: 65%;
    top: 155%;
    font-size: 12px;
}
#cercle4{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: wheat;
    left: 60%;
    position: absolute;
    top:164%;
}
.h4f{
    position: absolute;
    color: brown;
    left: 65%;
    top: 162%
}
.p7{
    position: absolute;
    left: 65%;
    top: 167%;
    font-size: 12px;
}







