header{
    height: 110px;
    width: 100% ;
    background-color:#F4AD21 ;
}

header .logo{
   
}


body{
    
  background-color:black;
  background-image:url(file:///home/ouattara/T%C3%A9l%C3%A9chargements/photo.png);
  background-attachment:fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.li1{ 
    margin-left: 55%;
    position: absolute;
    list-style-type: none;
    
}

.li2{
    margin-left: 57%;
    position: absolute;
    list-style: none;
    margin-bottom: 20px;
}
.li3{
    margin-left: 62%;
    position: absolute;
    list-style: none;
}
.li4{
    margin-left: 67%;
    position: absolute;
    list-style: none;
}
.li5{
    margin-left: 72%;
    position: absolute;
    list-style: none;
}
.li6{
    margin-left: 76%;
    position: absolute;
    list-style: none;
}
.li7{
    margin-left: 81%;
    list-style: none;
}
h1a{
    color: black;
    margin-top: 250px;
    position: absolute;
    font-size: 50px;
    margin-left: 23%;
}
h1b{

    color: black;
    margin-top: 250px;
    position: absolute;
    font-size: 50px;
    margin-left: 42%;
}
h1c{
    color: black;
    margin-top: 250px;
    position: absolute;
    font-size: 50px;
    margin-left: 61%;
}
p{
    margin-top: 315px;
    position: absolute;
    margin-left: 29%;
    color: peru;
    font-size: 20px;
}
button{ 
    width: 170px;
    font-size: 15px;
    background-color: red;
    margin: 12px;
   margin-left: 42%;
     position:absolute; 
     height: 30px;
     margin-top: 355px; 
}
.li3 img{
    line-height: 10%;
}







